<body>
    <div *ngIf="!isSubmit">
        <div style="padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: antiquewhite;
        border-radius: 167px;">
            <h2>Progress</h2><br>
            <h3>{{ getFormattedTime() }}</h3>
            <mat-spinner mode="determinate" [value]="(timer / (this.questions.length*2*60))*100"></mat-spinner>
        </div>
        <h2 style="text-align: center;">Questions of {{qTittle}}</h2>
    <div *ngFor="let question of questions; let i = index;" >
        <div class="card">

            <h3>Q {{i+1}}) {{question.content}}</h3>
            <br>
            <span>
                <input type="radio" 
                value={{question.option1}}
                [(ngModel)]="question.givenAnswer"
                [name]="question.answer"
                >{{question.option1}}</span><br>
            <span>
                <input type="radio"  
                value={{question.option2}}
                [name]="question.answer"
                [(ngModel)]="question.givenAnswer"
                 >{{question.option2}}</span><br>
            <span>
                <input type="radio"  
                value={{question.option3}}
                [name]="question.answer"
                [(ngModel)]="question.givenAnswer"
                >{{question.option3}}</span><br>
            <span>
                <input type="radio"   
                value={{question.option4}}
                [name]="question.answer"
                [(ngModel)]="question.givenAnswer"
                >{{question.option4}}</span><br>
            
           
        </div>
    </div>
    <a type="submit" (click)="onsubmit()">Submit</a>
    
    </div>
    



    <!-- show result -->
    <div *ngIf="isSubmit" style="width: 300px; text-align: center;">
            <div>
                <div class="card" >
                    <h1>Quiz Result</h1>
                    <br>
                    <h5>Marks Got : <b> {{marksGot}}  </b> </h5>
                    <br>
                    <h5>Correct Answer : <b>{{correctAnswers}}</b> </h5>
                    <br>
                    <h5>Question Attemted : <b> {{attempted}} </b></h5>
                    <br>
                    
                </div>
            </div>
    </div>
</body>
