<div class="container center">
    <form  [formGroup]="updateQuiz" (ngSubmit)="onSubmit()">
        <h2 style="text-align: center;">Update Quiz</h2>
        <div class="row">
            <div class="col-25">
                <label for="fname">Enter Tittle</label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="Enter Tittle"  formControlName="qtittle">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="subject">Quiz Description</label>
            </div>
            <div class="col-75">
                <textarea  formControlName="qdescription" placeholder="Write something.." style="height:100px" ></textarea>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-25">
              <label for="fname">Maximum Marks</label>
            </div>
            <div class="col-75">
              <input type="number"  formControlName="maxMarks" placeholder="Maximum Marks">
            </div>
          </div>
        <br>

        <div class="row">
            <div class="col-25">
              <label for="fname">No OF Questions</label>
            </div>
            <div class="col-75">
              <input type="number"  formControlName="numberOfQuestion" placeholder="No of Questions">
            </div>
          </div>
          <br>

        <div class="row">

            <div>
                <div class="col-25">
                    <label for="country">Category</label>
                </div>
                <div class="col-75" formGroupName="category">
                    <select formControlName="cid">
                         <option *ngFor="let category of category" value={{category.cid}}>{{category.tittle}}</option> -->
                    </select>
                </div>
            </div>

        </div>

        <div class="row">
            <input class="btn" style="margin-top: 23px;" type="submit" value="Submit">
            <br>
            <input class="btn" style="margin-top: 23px;" type="reset" value="Reset">
        </div>
    </form>
</div>