<!DOCTYPE html>
<html>
<head>
<style>
body{
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 155px;
  overflow: hidden;
  background: #080640;
  color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  width: 120px;
  padding: 14px 16px;
  text-decoration: none;
  border: 2px solid rgba(247, 206, 3, 0.938);
}

li a:hover:not(.active) {
  background: rgba(247, 206, 3, 0.938);
}

</style>
</head>
<body>
  <div>
    <ul *ngFor="let c of category">
      <li><a routerLink="/user-dashboard">ALL</a></li>
      <li><a (click)="logout()" *ngIf="login.isLoggedIn()">Logout</a></li>
    </ul>
  </div>


<div>   
  <router-outlet></router-outlet>
</div>


</body>
</html>