<body>
    <a routerLink="/home/add-quiz">ADD Quiz</a>
    
    <div *ngFor="let quiz of quiz">
        
        <div class="card" >
            <h4>{{quiz.qtittle}}</h4>
            <p>{{quiz.qdescription}}</p>
            <a [routerLink]="['/home/view-question/'+ quiz.qid + '/' + quiz.qtittle ]">Questions</a>
            <a style="background-color: #fff; color:black;">Max Marks: {{quiz.maxMarks}}</a>
            <a style="background-color: #fff; color:black;">Questions: {{quiz.numberOfQuestion}}</a>
            <a [routerLink]="['/home/update-quiz/'+quiz.qid]">Update</a>
            <a (click)="deleteQuiz(quiz.qid)"  style="background-color: crimson; color:#fff;">Delete</a>
        </div>
    </div>
</body>